# CSE110 Assignment 5
This assignment is to guide you to solve everything you have learned so far by implementing functions in Python. 

**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

## Write the Python code of the following problems:

### Task 1
Write a function called **even_checker** that takes a number as an argument and prints whether the number is even or odd *inside the function*.

**Example1:** \
**Function Call:**\
even_checker(5)\
**Output:**\
Odd!!

=============================

**Example2:** \
**Function Call:**\
even_checker(2)\
**Output:**\
Even!!

In [6]:
n= int(input('type a number : '))
def even_checker(n):
    if n%2==0:
        print('Even!!')
    else:
        print('odd!!')
even_checker(n)

type a number : 2
Even!!

### Task 2
Write a python function that takes the limit as an argument of the Fibonacci series and prints till that limit. 

**Function Call:**\
fibonacci(10)\
**Output:**\
0 1 1 2 3 5 8\
======================\
**Function Call:**\
fibonacci(5)\
**Output:**\
0 1 1 2 3 5

In [44]:
n= int(input('type a number : '))
def func(n):
    sum=0
    a=0
    b=1
    print(a,b,end=' ')
    for i in range(n):
            sum=a+b
            if sum>n:
                break
            print(sum,end=' ')
            a=b
            b=sum               
func(n)

type a number : 10
0 1 1 2 3 5 8

### Task 3
Write a function called **foo_moo** that takes a number as an argument and **returns** the following statements according the below mention conditions. Then, finally prints the statement in the function call. 

* 	If the number is divisible by 2, it should return "Foo".
*   If the number is divisible by 3, it should return "Moo". 
*   If the number is divisible by both 2 and 3, it should return "FooMoo".
*   Otherwise, it returns "Boo".

**Example1:** \
**Function Call:**\
foo_moo(5)\
**Output:**\
Boo

=================


**Example2:** \
**Function Call:**\
foo_moo(4)\
**Output:**\
Foo

=================


**Example3:** \
**Function Call:**\
foo_moo(6)\
**Output:**\
FooMoo

In [19]:
n=int(input('type a number : '))
def foo_moo(n):
    if (n%2==0 and n%3==0):
        return 'FooMoo'
    elif n%2==0:
        return 'Foo'
    elif n%3==0:
        return 'Moo'
    else:
        return 'Boo'
(foo_moo(n))

type a number : 6

'FooMoo'

### Task 4
Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function. 

**Function Call:**\
function_name('The quick Sand Man')\
**Output:**\
No. of Uppercase characters : 3\
No. of Lowercase Characters: 12\
============================\
**Function Call:**\
function_name('HaRRy PotteR')\
**Output:**\
No. of Uppercase characters : 5\
No. of Lowercase Characters: 6

In [2]:
def func(n):
    hey=n.split()
    uc=0
    lc=0
    for i in n:
        if (ord(i)>=97 and ord(i)<=122):
            lc+=1
           
        elif (ord(i)>=65 and ord(i)<=90):
            uc+=1
            
    print('No. of Uppercase Characters : ' , uc)    
    print('No. of Lowercase Characters : ' , lc) 

func('Happy')

No. of Uppercase Characters :  1
No. of Lowercase Characters :  4

### Task 5
Write a function called **calculate_tax** that takes 3 arguments: your age, salary, and current job designation.


Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and calculate the tax as the following conditions:
*  **NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.**
*  **NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY** 
*  No tax if you get paid less than 10,000
*  5% tax if you get paid between 10K and 20K
*  10% tax if you get paid more than 20K


Finally return this tax value. Then print the returned value in the function call.

**Example1:** \
**Input:**\
16\
20000\
Student\
**Function Call:**\
calculate_tax(16, 20000, 'Student')\
**Output:**\
0

===================================

**Example2:** \
**Input:**\
20\
18000\
assistant manager\
**Function Call:**\
calculate_tax(20, 18000, 'assistant manager')\
**Output:**\
900.0


===================================

**Example3:** \
**Input:**\
20\
22000\
assistant manager\
**Function Call:**\
calculate_tax(20, 22000, 'Assistant manager')\
**Output:**\
2200.0

===================================


**Example4:** \
**Input:**\
20\
122000\
president\
**Function Call:**\
calculate_tax(20, 122000, 'president')\
**Output:**\
0
 

**Hints:**\
Here the job designation is a string, so it can be written in both uppercase and lower cases. So, you need to check the value ignoring the case.

In [4]:
age= int(input('what is your age? : '))
salary =int(input('what is your salary? : '))
designation = input('what is your job designation? : ')
def calculate_tax(age, salary,designation):
    tax=0
    if age<18:
        tax=0
    elif designation =='president':
        tax=0
    elif salary<10000:
        tax=0
    elif (salary>=10000 and salary<=20000):
        tax=salary*(5/100)
    elif salary>20000:
        tax=salary*(10/100)
    return tax

print(calculate_tax(age,salary,designation))

what is your age? : 24
what is your salary? : 25999
what is your job designation? : rjgrhjd
2599.9

### Task 6
Write a function which will take 1 argument, number of days.

Your first task is to take the number of days as user input and pass the value to the function.
 
Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function. 

**Note:** Assume, each year to be 365 days and month to be 30 days.

**Hint:** Divide and mod the main input to get the desired output.

**Input:**\
4330\
**Function Call:**\
function_name(4330)\
**Output:**\
11 years, 10 months and 15 days

================================

**Input:**\
2250\
**Function Call:**\
function_name(2250)\
**Output:**\
6 years, 2 months and 0 days


**Hints:** \
This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion.

In [24]:
n=int(input('number of days? : '))
def func(n):
    year=int(n/365)
    n = n % 365
    month=int(n/30)
    day=n%30
    print(year,'years,',month,'months',day,'days')
func(n)

number of days? : 2250
6 years, 2 months 0 days

### Task 7
Write a function called **splitting_money** that takes an “amount” of money as a argument.

Your first task is to take the “amount” of money as user input and pass the value to the function paramater.
 
Your second task is to implement the function and calculate how that money can be split into 500, 100, 50, 20, 10, 5, 2, and 1 taka notes.

Then print the returned value in the function call.

**Example1:** \
If the money is 1234, then the function should return 

"500 Taka: 2 note(s) \
100 Taka: 2 note(s) \
20 Taka: 1 note(s) \
10 Taka: 1 note(s) \
2 Taka: 2 note(s)"

**Example2:** \
If the money is 151, then the function should return

"100 Taka: 1 note(s)\
50 Taka: 1 note(s)\
1 Taka: 1 note(s)"


**Hints:** \
This task’s calculation is similar to Assignment-1’s seconds to hours, minutes conversion. To return the result containing multiple strings, you need to store it in a variable and return it at the end of the function.

In [12]:
n=int(input('amount of money : ')) 
def splitting_money(n):
    note=[500,100,50,20,10,5,2,1]
    c=[0,0,0,0,0,0,0,0]
    for x in note:
        for y in c:
            if n>=x:
                y=n//x
                n=n%x
                print(x,'Taka: ',y,'note(s)')
    return
   
splitting_money(n)

amount of money : 1234
500 Taka:  2 note(s)
100 Taka:  2 note(s)
20 Taka:  1 note(s)
10 Taka:  1 note(s)
2 Taka:  2 note(s)

### Task 8
Write a function called **show_palindrome** that takes a number as an argument and then returns a palindrome string. Finally, prints the returned value in the function call.

**Example1:** \
**Function Call:**\
show_palindrome(5)\
**Output:**\
123454321

===================

**Example2:** \
**Function Call:**\
show_palindrome(3)\
**Output:**\
12321

In [28]:
n=int(input('enter a number : '))
def show_palindrom(n):
    for i in range(1,n+1):
        print(i,end='')
    for j in range(n-1,0,-1):
        print(j,end='')

show_palindrom(n)

enter a number : 3
12321

### Task 9
Write a function called **show_palindromic_triangle** that takes a number as a argument and prints a Palindromic Triangle in the function. 


**Example1:** \
**Function Call:**\
show_palindromic_triangle(5)\
**Output:**

&emsp; &emsp; &emsp; &emsp; 1\
&emsp; &emsp; &emsp; 1 &nbsp; 2 &nbsp; 1 \
&emsp; &emsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 2 &nbsp; 1 \
&emsp; 1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 3 &nbsp; 2 &nbsp; 1 \
1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 4 &nbsp; 3 &nbsp; 2 &nbsp; 1

=============================================================


**Example1:** \
**Function Call:**\
show_palindromic_triangle(3)\
**Output:**

&emsp; &emsp; 1 \
&emsp; 1 &nbsp; 2 &nbsp; 1 \
1 &nbsp; 2 &nbsp; 3 &nbsp; 2 &nbsp; 1


**Hints:** \
Need to use both print() and print( , end = " ") functions

In [23]:
n=int(input('enter a number : '))
def show_palindromic_triangle(n):
    gap=n
    for line in range(1,n+1):
        for space in range(1,gap+1):
            print(' ',end='')
        for i in range(1,line+1,1):
            print(i,end='')
        for j in range(line-1,0,-1):
            print(j,end='')
        print('\n')
        
        gap=gap-1
show_palindromic_triangle(n)

enter a number : 5
     1

    121

   12321

  1234321

 123454321

### Task 10
Write a function called **area_circumference_generator** that takes a radius of a circle as a  function parameter and calculates its circumference and area. Then returns these two results as a **tuple** and prints the results using tuple unpacking in the function call accorrding to the given format. <font color='red'>[Must use tuple packing & unpacking] </font> 

**Example1:** \
**Function Call:**\
area_circumference_generator(1)\
**Output:**\
(3.141592653589793, 6.283185307179586)\
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

====================================

**Example2:** \
**Function Call:**\
area_circumference_generator(1.5)\
**Output:**\
(7.0685834705770345, 9.42477796076938)\
Area of the circle is 7.0685834705770345 and circumference is 9.42477796076938

====================================


**Example3:** \
**Function Call:**\
area_circumference_generator(2.5)\
**Output:**\
(19.634954084936208, 15.707963267948966)\
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

In [45]:
rad=float(input('enter radius : '))
def area_circumference_generator(rad):
    result=((rad*rad* 3.141592653589793238),(2* 3.141592653589793238*rad))
    (area,circumference)=result
    print(result)
    print("Area of the circle is ",area,"and circumference is",circumference)
area_circumference_generator(rad)

enter radius : 2.5
(19.634954084936208, 15.707963267948966)
Area of the circle is  19.634954084936208 and circumference is 15.707963267948966

### Task 11
Write a function called **make_square** that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should **return a dictionary** with the numbers as keys and its squares as values.

**Example1:** \
**Function Call:**\
make_square((1,3))\
**Output:**\
{1: 1, 2: 4, 3: 9}

====================================

**Example2:** \
**Function Call:**\
make_square((5,9))\
**Output:**\
{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}



**Hints:** \
You need to declare a dictionary to store the result. You should use the range function to run the “for loop”.

In [35]:
x=int(input('enter a number : '))
y=int(input('enter a number : '))
def make_square(x,y):
    dic=dict()
    for key in range(x,y+1):
        dic[key]=key**2
    print(dic)
make_square(x,y)

enter a number : 1
enter a number : 3
{1: 1, 2: 4, 3: 9}

### Task 12
Write a function called **remove_odd** that takes a list of numbers that have both even and odd numbers mixed. \
Your function should remove all the odd numbers and **return a compact list** which only contains the even numbers. 

**Example1:** \
**Function Call:**\
remove_odd ([21, 33, 44, 66, 11, 1, 88, 45, 10, 9])\
**Output:**\
[44, 66, 88, 10]

====================================

**Example2:** \
**Function Call:**\
remove_odd ([11,2,3,4,5,2,0,5,3])\
**Output:**\
[2, 4, 2, 0]

In [30]:
def remove_odd(list):
    list=[]
    limit = int(input('enter the limit : '))
    for i in range(0,limit):
        i=int(input('enter a number : '))
        if i%2==0:
            list.append(i)
        print(list)
remove_odd(list)

enter the limit : 9
enter a number : 11
[]
enter a number : 2
[2]
enter a number : 3
[2]
enter a number : 4
[2, 4]
enter a number : 5
[2, 4]
enter a number : 2
[2, 4, 2]
enter a number : 0
[2, 4, 2, 0]
enter a number : 5
[2, 4, 2, 0]
enter a number : 3
[2, 4, 2, 0]

### Task 13
Write a function called **rem_duplicate** that takes a tuple in the parameter and return a tuple removing all the duplicate values. Then print the returned tuple in the function call.

**Example1:** \
**Function Call:**\
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))\
**Output:**\
(1, 2, 3, 4, 5, 6, 0)

====================================

**Example2:** \
**Function Call:**\
rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))\
**Output:**\
('Hi', 1, 2, 3, 'a', [1, 2])


**Hints:** \
Unlike lists, tuples are immutable so, the tuple taken as an argument cannot be modified. But list can be modified and lastly for returning the result use type conversion. You need to use membership operators (in, not in) for preventing adding any duplicates values.

In [15]:

def rem_duplicate(tuple):
    list = []
    list2=[]
    tpl=tuple()
    lim=int(input('enter the limit : '))
    for i in range(0,lim):
        i=input('enter what do you want? : ')
        list.append(i)
    for i in list:
        if i not in list2:
            list2.append(i)
            tpl=tuple(list2)
    print(tpl)
rem_duplicate(tuple)

enter the limit : 9
enter what do you want? : Hi
enter what do you want? : 1
enter what do you want? : 2
enter what do you want? : 3
enter what do you want? : 4
enter what do you want? : Hi
enter what do you want? : a
enter what do you want? : a
enter what do you want? : [1,2]
('Hi', '1', '2', '3', '4', 'a', '[1,2]')

### Task 14
Write a python function that takes a list as an argument. Your task is to create a new list where **each element can be present at max 2 times**. Inside the function, print the number of elements removed from the given list. Finally, return the new list and print the result.

**Hint:** Use list_name.count(element) to count the total number of times an element is in a list. list_name is your new list for this problem.

**Function Call:**\
function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])\
**Output:**\
Removed: 2\
[1, 2, 3, 3, 4, 5, 8, 8]\
================================\
**Function Call:**\
function_name([10, 10, 15, 15, 20])\
**Output:**\
Removed: 0\
[10, 10, 15, 15, 20]

In [2]:
def func(list):
    print(list)
    list2=[]
    for item in list:
        if list2.count(item)<2:
            list2.append(item)
    result= len(list)-len(list2)
    print('removed odd number : ',result)
    return list2
print(func([1,2,3,3,3,3,4,5,8,8]))

[1, 2, 3, 3, 3, 3, 4, 5, 8, 8]
removed odd number :  2
[1, 2, 3, 3, 4, 5, 8, 8]

### Task 15
Write a function which will take 4 arguments. They are:
- starting value(inclusive)
- ending value(exclusive)
- first divisor
- second divisor

Your first task is to take these arguments as user input and pass these values to the function.

Your second task is to implement the function and find all the numbers that are divisible by the <u>first divisor or second divisor but not both</u> from the starting value(inclusive) and ending value(exclusive). Add all the numbers that are divisible and finally return this value. Print the returned value in the function call.

**Input:**\
10\
40\
4\
7\
**Function Call:**\
function_name(10, 40, 4, 7)\
**Output:**\
210\
================================\
**Input:**\
5\
100\
3\
4\
**Function Call:**\
function_name(5, 100, 3, 4)\
**Output:**\
2012

In [3]:
a=int(input('enter a starting value : '))
b=int(input('enter a ending value : '))
x=int(input('enter the first divisor : '))
y=int(input('enter the second divisor : '))
def func(a,b,x,y):
    total=0
    for i in range(a,b):
        if (i%x==0 or i%y==0):
            if i%(x*y)!=0:
                total+=i
    print(total)
func(a,b,x,y)

enter a starting value : 5
enter a ending value : 100
enter the first divisor : 3
enter the second divisor : 4
2012

### Task 16
Write a python function that will perform the basic calculation (addition, subtraction, multiplication and division) based on 3 arguments. They are:
- Operator ('+', '-', '/', '*')
- First Operand (any number)
- Second Operand (any number)

Your first task is to take these arguments as user input and pass the values to the function parameters.

Your second task is to write a function and performs the calculation based on the given operator. Then, finally return the result in the function call and print the result.

**Input:**\
"+"\
10\
20\
**Function Call:**\
function_name("+", 10, 20)\
**Output:**\
30

================================

**Input:**\
"*"\
5.5\
2.5\
**Function Call:**\
function_name("*", 5.5, 2.5)\
**Output:**\
13.75

In [33]:
a=input('enter the operator : ')
b=float(input('enter a number : '))
c=float(input('enter another number : '))
def func(a,b,c):
    if a=='+':
        print(b+c)
    elif a=='-':
        if b<c:
            print(c-b)
        else:
            print(b-c)
    elif a=='*':
        print(b*c)
    elif a=='/':
        if b<c:
            print(c/b)
        else:
            print(b/c)
func(a,b,c)

enter the operator : *
enter a number : 5.5
enter another number : 2.5
13.75

### Task 17
Write a python function which will take a string as an argument. 

Your first task is to take a string as user input and pass the value to the function.

Your second task is to implement a function which will check whether all the alphabets from a to j (convert all the alphabets to lowercase) has appeared at least once in the given string or not. 
- If all of these alphabets (a to j) appear at least once, then the result will be 5. 
- If any one of the alphabets (a to j) is not in the given string, then the result will be 6.

Return this result and print the statement, "Chelsea is the best club in England" that many times.

**Example:**
"A black jackal is hunting a full grown deer" 

Here all the alphabets from A to J are present at least once. So, the function will return 5 and will print the statement 5 times.

**Input:**\
"A black jackal is hunting a full grown deer"\
**Function Call:**\
function_name("A black jackal is hunting a full grown deer")\
**Output:**\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England

==============================================

**Input:**\
"ABBCDEFEFGHI"\
**Function Call:**\
function_name("ABBCDEFEFGHI")\
**Output:**\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England\
Chelsea is the best club in England

In [6]:
def func(sentence):
    alphabet = 'abcdefghij'
    for i in alphabet:
        if i in sentence:
            output = 'Chelsea is the best club in England\n' *5
        else:
            output='Chelsea is the best club in England\n'*6
        return output
a= str(input('Enter a sentence : '))
sentence=a.lower()
print(func(sentence))

Enter a sentence : A black jackal is hunting a full grown deer
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England

### Task 18
Write a function which will take 2 arguments. They are:
- Sentence 
- position 

Your first task is to take these arguments as user input and pass these values to the function parameters.

Your second task is to implement the function and remove the characters at the index number which is divisible by the position (Avoid the index number 0 as it will always be divisible by the position, so no need to remove the index 0 character). 
Finally, add the removed characters at the end of the new string.

Return the value and then finally, print the new string at the function call.

**Input:**\
"I love programming."\
3\
**Function call:**\
function_name("I love programming.", 3)\
**Output:**\
I lveprgrmmngo oai.

==============================================

**Input:**\
"Python is easy to learn. I love python."\
6\
**Function call:**\
function_name("Python is easy to learn. I love python.", 6)\
**Output:**\
Pythonis eay to earn.I lov pythn. sl eo

In [37]:
x=str(input('type anything : '))
y=int(input('enter a number : '))
def function_name(x,y):
    str=''
    str2=''
    for i in range(1,len(x)):
        if i%y==0:
            str+=x[i]
        elif i%y!=0:
            str2+=x[i]
    output=x[0]+str2+str
    return output
print(function_name(x,y))

type anything : Python is easy to learn. I love python.
enter a number : 6
Pythonis eay to earn.I lov pythn. sl eo

### Task 19
You have been hired as an app developer for the company karon_tumi_bekar. The company plans to make an app for a grocery store where the user can order groceries and see the total amount to be paid in the cart section. 

To build this feature, you have to write a function that takes 2 arguments. They are:
- order_items (must be a list)
- location (default value should be set to "Dhanmondi")

Your first task is to take a list of items from the user. Pass the list into the function parameter along with the optional location (Use default argument technique). (Also, no need to take location as input, pass this any value you want.) 

Your second task is to implement the function. In the function, create a dictionary for the items shown in the table. Calculate the total price of the items passed as a list to the function. Additionally, add a delivery fee of 30 taka if the location is Dhanmondi. Otherwise, add a delivery fee of 70 taka. Finally, return the value and print it.

| Item | Price(Tk) |
| --- | --- |
| Rice | 105 |
| Potato | 20 |
| Chicken | 250 |
| Beef | 510 |
| Oil | 85 |

**Hint:** The keys are the items and values are the corresponding price. Iterate the items in the list and check if the items in the list are available in the dictionary keys or not. If it is available, add the price.

**Example:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")

total = 105 + 510 + 105 = 720 (Take the price of each item and add them.)\
total = 720 + 70 = 790 (Finally, add the delivery fee based on the location.)

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"], "Mohakhali")\
**Output:**\
790

==============================================

**Input:**\
["Rice", "Beef", "Rice"]\
**Function Call:**\
function_name(["Rice", "Beef", "Rice"])\
**Output:**\
750

In [5]:
n=input('enter your elements : ').split(',')
def func(item,location='Dhanmondi'):
    item = []
    item.append(n)
    dicti={'Rice':105,'Potato':20,'Chicken':250,'Beef':510,'Oil':85}
    sum=0
    total=0
    for i in n:
        for key,value in dicti.items():
            if i==key:
                if location!='Dhanmondi':
                    sum+=value
                    total=sum+70
                else:
                    sum+=value
                    total=sum+30
    return total
print(func(n))

enter your elements : Rice,Beef,Rice
750

### Task 20
You have been hired by the Abahani football club to write a function that will calculate the total bonus on the yearly earnings of each player for the total goals they have scored. Since the number of players will vary, you decide to use the "*args" technique that you learned in your CSE110 class. (No need to take any input from the user. Call the functions and print the values inside the function.) 
For each player: pass the name, yearly earning, the total goal scored this season, bonus percent per goal. Additionally, if the goal scored is above 30, add an extra bonus of 10000 taka. If it is between 20 and 30 inclusive, add an extra 5000 taka.

**Example:**\
function_name("Neymar", 1200000, 30, 10)

bonus = 30 * (10 / 100 * 1200000) + 5000 = 3605000

**Function call:**\
function_name("Neymar", 1200000, 30, 10)\
**Output:**\
Neymar earned a bonus of 3605000 Taka for 30 goals.

=====================================================

**Function call:**\
function_name("Neymar", 1200000, 30, 10, "Jamal", 700000, 19, 5)\
**Output:**\
Neymar earned a bonus of 3605000 Taka for 30 goals.\
Jamal earned a bonus of 665000 Taka for 19 goals.

In [34]:
def fun(*args):
    for i in args[::4]:
        bonus=args[args.index(i)+2]*(((args[args.index(i)+3])/100)*args[args.index(i)+1])
        if args[args.index(i)+2]>30:
            bonus=bonus+10000
        elif args[args.index(i)+2]>20:
            bonus=bonus+5000
        print(args[args.index(i)],"earned a bonus of",str(int(bonus)),"Taka for",args[args.index(i)+2],"goals.")
fun("Neymar",1200000,30,10,"Jamal",700000,19,5)

Neymar earned a bonus of 3605000 Taka for 30 goals.
Jamal earned a bonus of 665000 Taka for 19 goals.

In [6]:
ar = ['avbb',2, [4,3]]
print(type(ar))

<class 'list'>

In [8]:
ar.pop()

[4, 3]

In [9]:
ar.pop()

2

In [14]:
def fun(name='gas'):
    print(name)

fun()

gas

In [27]:
class Node:
    def __init__(self, da=None):
        self.data = da  #n2.data=yeamin #n3.data=hasan
        self.next = None

class SingleLinked:
    def __init__(self):
        self.head = None

lst = SingleLinked()

n1 = Node('ahnaf')

lst.head = n1

n2 = Node('yeamin')

n3 = Node('hasan')

In [ ]:
n1.next= n2
n2.next = n3

In [36]:
print(lst.head)
print(n1)

<__main__.Node object at 0x00000239988B2F20>
<__main__.Node object at 0x00000239988B2F20>

In [32]:
lst.head  #lst.head==n1

In [37]:
lst.head.next = n2 #n2.next=n1

In [38]:
n2.next = n3

In [41]:
class Node:
    def __init__(self, d=None):
        self.data = d
        self.next = None

n1 = Node('A')
n2 = Node('B')
n3 = Node('c')

n1.next = n3
n3.next = n2

In [42]:
print(n3.next.data)

B

In [104]:
class Cousin:
    def __init__(self, a_name,a_age):
        self.name = a_name
        self.age = a_age
        self.link_cousin = None


yeamin = Cousin("Yeamin",23)
ahnaf = Cousin('Ahnaf',23)
rabita = Cousin("Rabita",22)
sabita = Cousin("Sabita",32)

In [105]:
yeamin.link_cousin = ahnaf
ahnaf.link_cousin = rabita
rabita.link_cousin = sabita

In [106]:
yeamin.link_cousin.link_cousin.link_cousin.name

'Sabita'

In [117]:
class Father:
    # def __init__(self, n):
    #     self.name=n
    def __init__(self,a,n,p,ad):
        self.age =a  
        self.address = ad
        self.phone = p
        self.name =n

    def about(self):
        print( self.age, self.address, self.phone,self.name,)

Father(22,'Kader',4231,'faswdwafawfwa').about()

22 faswdwafawfwa 4231 Kader

In [189]:
import datetime
class Person:
    def __init__(self, name, age):
        self.name=name
        self.age=age
        self.father = None
  
    def birthday(self):
        return datetime.datetime.now().year-self.age
    
kader=Person('kader', 50)
ahnaf=Person('Ahnaf',22)
amir=Person('Amir',95)


class SinglyLinkedList:
    def __init__(self,headValue=None):
        self.head = headValue

    #List Traversal- Singly
    def show_list(self):
        value = self.head

        # for i in range(100):
        #     if value != None:
        #         print(value.name)
        #         value = value.father
        #     else:
        #         break

        while(value != None):
            print(value.name)
            value = value.father

# s_list = SinglyLinkedList()
# s_list.head = kader

# s_list.head.father = kader
# kader.father = amir

# s_list.show_list()

ahnaf.father = kader
kader.father = amir

value_to_print = ahnaf
while(value_to_print!=None):
    print(value_to_print.name)
    value_to_print = value_to_print.father

Ahnaf
kader
Amir

In [196]:
class Certificate:
    name = 'yeamin'
    def __init__(self, name, year):
        self.name = name

    def welcome(self):
        print('welcome', self.name)
    
f=Certificate('Ahnaf',23)

f.welcome()

welcome Ahnaf

In [197]:
class Fam:
    dad='ka'
    ma='ko'
    child=2
details=Fam()
print(details.dad)
print(Fam.child)

ka
2

In [73]:
class Fam:
    def __init__ (self,dad,ma,fami_member):
        self.father=dad
        self.mother=ma
        self.fam_member=fami_member
    def female(self,sis):
        self.daughter=sis
    def Died(self,name):
        self.grandpa=name
        return self.grandpa
    def __str__(self):
        return 
details=Fam('ka','ko',5)
details.Died('Amir')
print(type(details))

<class '__main__.Fam'>

In [74]:
class Robot: 
    def x(self,name):
        self.robot_name=name
    def y(self,color):
        self.robot_color=color
    def z(self, weight):
        self.robot_weight=weight 
R=Robot()
R.robot_name='name'
R.robot_color='red'
R.robot_weight=40
print()

In [122]:
a=[1,2,3,4,5,6]
i=0
while i<len(a):
    print(a[i])
    i+=1

1
2
3
4
5
6

In [75]:
def func(array,index,value,size):
    i=size-1
    while (i>=index):
        array[i+1]=array[i]
        i-=1
    array[index]=value
    return array

array=[1,2,3,4,6,0,0,0]
func(array,1,66,2)

[1, 66, 2, 4, 6, 0, 0, 0]

In [119]:
#reversing an array: out of place
def reverse(source):
    dest=[0]*len(source)  #creating an empty array named dest having the same length as source
    i=0 #pointer at 0th index of source
    j=len(dest)-1 #pointer at last index of dest
    while(i<len(source)):
        dest[j]=source[i] #copying element from source to dest
        i=i+1
        j=j-1
    return dest #returning the array containing the elements in reverse order
a=[10,20,30,40,50]
reverse(a)

[50, 40, 30, 20, 10]

In [22]:
def func(array,val):
    found = 0
    index=-1
    for i in array:
        index+=1
        if i==val:
            found=True
            break
        else:
            continue
    print('val location',index) if found else print('not found')
array=[2,5,6,7,8]
val=8
func(array,val)

val location 4

In [28]:
#insert in array
def func(array,index,value,size):
    i=size-1
    while (i>=index):
        array[i+1]=array[i]
        i-=1
    array[index]=value
    array[5]=0

array=[1,2,3,4,6,0,0,0]
func(array,2,66,7)
print(array)

[1, 2, 66, 3, 4, 0, 0, 0]

In [81]:
#Start
#reverse array without copying
def func(a):
    i=0
    j=len(a)-1 #5
    while i<j:
        temp=a[i]
        a[i]=a[j]
        a[j]=temp
        i+=1
        j-=1
    return a

    
a=[10,20,30,40,50]
func(a)

[50, 40, 30, 20, 10]

In [29]:
#right shift by one and set the first val zero
def func(a):
    i=len(a)-1
    while i>0:
        a[i]=a[i-1]
        i-=1
    a[0]=0
    return a

func(a=[10,20,30,40,50])

[0, 10, 20, 30, 40]

In [30]:
#rotate array
def func(a):
    i=0
    temp=a[len(a)-1]
    j=len(a)-1
    while j>=0:
        a[j]=a[j-1]
        j-=1

    a[i]=temp
    return a

func(a=[10,20,30,40])

[40, 10, 20, 30]

In [129]:
#right shift array by k places
def func(a,k):
    i=len(a)-1

    while i>0:
        a[i]=a[i-k]
        i-=1
    for j in range(k):
        a[j]=0
    return a
a=[10,20,30,40,50]
k=3
func(a,k)

[0, 0, 0, 10, 20]

In [31]:
#add value/inserting in given index
def func(array,index,value,size):
    i=size-1
    while i>=index:
        array[i+1]=array[i]
        i-=1
    array[index]=value
    return array

array=[1,2,3,4,6,0,0,0]
func(array,1,66,5)

[1, 66, 2, 3, 4, 6, 0, 0]

In [141]:
#right rotate
def func(a,k):
    i=len(a)-1
    temp=a[i]
    while i>=k:
        a[i]=a[i-k]
        i-=1
    for j in range(k):
        a[j]=0
    return a

a=[10,20,30,40,50]
k=3
func(a,k)

[0, 0, 0, 10, 20]

In [232]:
#left rotate by k position
def rotateLeft(a, k):
    for q in range(k):
        temp= a[0]
        i=0
        j=len(a)-1
        while i<j:
            a[i]=a[i+1]
            i+=1
        a[j]=temp

a = [10, 20, 30, 40, 50, 60]
rotateLeft(a, 4)
print(a)

[50, 60, 10, 20, 30, 40]

In [238]:
#right rotate by k pos
def rightrotate(a,k):
    for j in range(k):
        i=len(a)-1
        temp=a[i]
        while i>0:
            a[i]=a[i-1]
            i-=1
        a[0]=temp

a = [10, 20, 30, 40, 50, 60]
rightrotate(a, 4)
print(a)

[30, 40, 50, 60, 10, 20]

In [71]:
#forward printing a circular array
def printForward(c,start,size):
    index=start
    i=0
    while(i<size):
        print(c[index])
        index=(index+1)%len(c)
        i=i+1
circularArray=[30,40,50,0,0,0,0,0,0,10,20] #creating a circular array with start 8 and size 5
printForward(circularArray,9,5)

10
20
30
40
50

In [66]:
#reverse printing a circular array
def printReverse(c,start,size):
    index=(start+size-1)%len(c)
    i=0
    while(i<size):
        print(c[index])
        index=index-1
        if(index<0):
            index=len(c)-1  
        i=i+1
circularArray=[40,50,0,0,0,0,0,0,10,20,30] #creating a circular array with start 8 and size 5
printReverse(circularArray,8,5)

50
40
30
20
10

In [23]:
#converting a circular array to a linear array
def circularize(linear,start,size):
    circular=[0]*len(linear)
    index=start
    i=0
    while(i<size):
        circular[index]=linear[i]
        index=(index+1)%len(linear) 
        i=i+1
    return circular
linear=[10,20,30,40,50,0,0,0,0,0,0]
circ=circularize(linear,8,5)
print(circ)

[40, 50, 0, 0, 0, 0, 0, 0, 10, 20, 30]

In [42]:
#resizing a circular array
def resize(circ,start,size):
    new=[0]*(len(circ)+2)
    cir_index=start
    index_new=start
    i=0
    while(i<size):
        new[index_new]=circ[cir_index]
        cir_index=(cir_index+1)%len(circ)
        index_new=(index_new+1)%len(new)  
        i=i+1
    return new
circ=[20,30,40,50,10] #creating a circular array with start 4 and size 5
circ=resize(circ,4,5) 
print(circ)

[40, 50, 0, 0, 10, 20, 30]

In [52]:
#create circular from linear
def func(a,st,sz):
    b=[0]*len(a)
    index=st
    i=0
    while i<sz:
        b[index]=a[i]
        index=index+1%len(a)
        i+=1
    print(b)
a=[1,2,3,0,0]
func(a,2,3)

[0, 0, 1, 2, 3]

In [72]:
def insert(cir,st,sz,item):
    if sz<len(cir):
        ind=(st+sz)%len(cir)
        cir[ind]=item
        sz+=1
    return cir
cir=[5,6,7,8,9]
insert(cir,3,4,55)
print(cir)

[5, 6, 55, 8, 9]

In [70]:

class Node:
    #element - variable used to store the value
    #next - variable used to reference to link to the next node
    def __init__(self, e, n):
        self.element = e 
        self.next = n
#---------------------Tester-----------------------#
#Starting of the Node
head = None
#Creating the nodes first
n1 = Node("10",None)
n2 = Node("20",None)
n1.next = n2
#Assigning the head reference to the list
head = n1

True

In [2]:
# Task 2:
class Node:
    def __init__(self,value, next = None):
        self.value = value
        self.next = next

class ListStack:
    def __init__(self):
        self.head = None

    def isEmpty(self):
        return self.head == None
     
    def Push(self,value):
        if self.head == None:
            self.head = Node(value)
        else:
            newNode = Node(value, self.head)
            self.head = newNode
     
    def Pop(self):
        if self.isEmpty():
            return None
        else:
            pNode = self.head
            self.head = self.head.next
            pNode.next = None
            return pNode.value
     
    def Peek(self):
        if self.isEmpty():
            return None
        else:
            return self.head.value

def linkedListBasedParamsCheck(expression):
    stack = ListStack()
    open = ["(","{","["]
    close = [")","}","]"]

    index = 0
    lastIndex = ListStack()
    for c in expression:
        index += 1

        if c in open:
            lastIndex.Push(index)
            stack.Push(c)
        elif c in close:
            if stack.isEmpty():
                print(expression)
                print("This expression is NOT correct.")
                print("Error at character # {} '{}'- not opened".format(index, c))
                return

            if  ((c == ")" and stack.Peek() == "(") 
                or (c == "}" and stack.Peek() == "{") 
                or (c == "]" and stack.Peek() == "[")):

                stack.Pop()
                lastIndex.Pop()
            else:
                value = stack.Peek()
                print(expression)
                print("This expression is NOT correct.")
                print("Error at character # {}. '{}'- not closed.".format(lastIndex.Peek(), value))
                return
    
    if stack.isEmpty():
        print(expression)
        print("This expression is correct.")
        return
    else:
        value = stack.peek()
        print(expression)
        print("This expression is NOT correct.")
        print("Error at character # {}. '{}'- not closed.".format(lastIndex.Peek(), value))
        
linkedListBasedParamsCheck("1+2*(3/4)")
linkedListBasedParamsCheck("1+2*[3*3+{4-5(6(7/8/9)+10)-11+(12*8)]+14")
linkedListBasedParamsCheck("1+2*[3*3+{4-5(6(7/8/9)+10)}-11+(12*8)/{13+13}]+14")
linkedListBasedParamsCheck("1+2]*[3*3+{4-5(6(7/8/9)+10)-11+(12*8)]+14")

1+2*(3/4)
This expression is correct.
1+2*[3*3+{4-5(6(7/8/9)+10)-11+(12*8)]+14
This expression is NOT correct.
Error at character # 10. '{'- not closed.
1+2*[3*3+{4-5(6(7/8/9)+10)}-11+(12*8)/{13+13}]+14
This expression is correct.
1+2]*[3*3+{4-5(6(7/8/9)+10)-11+(12*8)]+14
This expression is NOT correct.
Error at character # 4 ']'- not opened